name: Playwright Tests
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:
    inputs:
      environment:
        description: 'Select Environment'
        required: true
        default: 'production'
        type: choice
        options:
        - production
        - stage1
        - stage2
        - stage3
        - stage4
        - stage5
      custom_url:
        description: 'Or enter custom URL (optional)'
        required: false
        type: string

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.11'
    
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pytest-playwright
        playwright install --with-deps chromium

    - name: Run Playwright tests
      env:
        BASE_URL: ${{ github.event.inputs.custom_url || 
                      (github.event.inputs.environment == 'production' && 'https://orthazone.com') ||
                      (github.event.inputs.environment == 'stage1' && 'https://stage1.dentazone.com/') ||
                      (github.event.inputs.environment == 'stage2' && 'https://stage2.dentazone.com/') ||
                      (github.event.inputs.environment == 'stage3' && 'https://stage3.dentazone.com/') ||
                      (github.event.inputs.environment == 'stage4' && 'https://stage4.dentazone.com/') ||
                      (github.event.inputs.environment == 'stage5' && 'https://stage5.dentazone.com/') ||
                      'https://orthazone.com' }}
      # Изменяем флаги: скриншоты и трейсинг только при падении
      run: pytest tests/ -s --screenshot only-on-failure --tracing retain-on-failure --output=test-results

    - name: Upload Artifacts on Failure
      # Этот шаг выполнится ТОЛЬКО если предыдущий (Run tests) завершился ошибкой
      if: failure() 
      uses: actions/upload-artifact@v4
      with:
        name: playwright-failure-artifacts
        path: test-results/
        retention-days: 7